.footer
  background: $dark
  color: $light
  padding: 108px 0 46px 0
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(250px, 1fr))
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__title
    font-style: normal
    foont-weight: bold
    font-size: 18px
    line-height: 23px
    margin: 0 0 16px 0 
    text-transform: uppercase 
  &__item
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
  &__link
    text-decoration: none
    color: $footer-text-color 